:root {
    --color: rgb(97, 158, 223);
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5vh;
}

h1 {
    color: var(--color);
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: 3vh;
    margin-left: 18vw;
}

table, tr, td {
    border: 3px solid rgb(110, 110, 110);
    padding: 5px;
}

form {
    border: 3px solid rgb(110, 110, 110);
    padding: 1%;
    width: 51vw;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 1vh;
    background-color: var(--color);
    width: 30vw;
    font-size: 1.0rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: lightblue;
    color: black;
    transition: all 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.263);
}

.separador {
    display: inline;
    padding-left: 3vh;
    padding-right: 3vh;
}

.volver {
    background-color: rgb(97, 158, 223);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius:4px;
}

.volver:hover {
    background-color: rgb(97, 138, 223);
}