
/***************************************************
*                     Footer                       *
***************************************************/

.pie-pagina {
    /* background-color: #2e2e2e; */
    background-image: url("../img/fondoFooter.png");
    background-position: center; 
    background-size: cover;
    padding: 40px 20px;
    color: #fff;
    text-align: center;
}

.info-personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.info-personal > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.info-personal > h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-personal > p {
    font-size: 1rem;
    color: #ccc;
    max-width: 600px;
}

.info-personal a {
    color: var(--color-azul);
    text-decoration: none;
}

.info-personal a:hover {
    text-decoration: underline;
}

.redes-sociales {
    margin: 20px 0;
}

.redes-sociales a {
    color: #ccc;
    font-size: 1.2rem;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.2s ease;
}

.redes-sociales a:hover {
    color: var(--color-azul)
}

.credito {
    font-size: 0.9rem;
    color: #666;
}